<div class="col-xl-10 offset-xl-1 col-sm-12" id="story-body">
    <section class="col-12">
        <h3>Contact Lorem Ipsumov</h3>
        <article>
            <form id="contact">
                <p>Name:</p><br>
                <input placeholder="John Johnson"></input>
                <p>Email:</p><br>
                <input placeholder="john@abv.bg"></input>
                <p>Site:</p><br>
                <input placeholder="https://www.ivan.bg"></input>
                <p>Message:</p><br>
                <textarea></textarea>
                <br>
                <button><p>Send</p></button>

            </form>
        </article>
    </section>
</div>