@using MVCCourseProject.Models
@model HomeViewModel

@{Html.RenderAction("Car", "Home");}

<div class="col-xl-9 col-sm-12" id="story-body">
    <section class="col-12">
        <h3>@Model.CurrentChapter.ChapterName</h3>
        <article>
            <p>@Model.CurrentChapter.Text</p>
        </article>
    </section>
</div>

@{Html.RenderAction("Sidebar", "Home");}


