
   <div class="col-xl-3 col-sm-12" id="about-body">
        <figure>
            <img src="~/img/profile.png">
            <figcaption><h1>Лорем Ипсумов</h1></figcaption>
            <p>
                Роден: Октомври месец
                Умения: Лоши до приемливи
            </p>
        </figure>
    </div>


    <!--End of pictures-->
    <div class="col-xl-9 col-sm-12" id="story-body">
        <section class="col-12">
            <h3>Лорем Ипсумова биография</h3>
            <article>
                <p>
                    Лорем импсум долор сит амет. Лорем импсум долор сит амет. Лорем импсум долор сит амет. Лорем импсум долор сит амет. Лорем импсум долор сит амет. Лорем импсум долор сит амет. Лорем импсум долор сит амет. Лорем импсум долор сит амет. Лорем импсум долор сит амет. Лорем импсум долор сит амет. Лорем импсум долор сит амет. Лорем импсум долор сит амет. Лорем импсум долор сит амет. Лорем импсум долор сит амет. Лорем импсум долор сит амет. Лорем импсум долор сит амет. Лорем импсум долор сит амет. Лорем импсум долор сит амет. Лорем импсум долор сит амет. Лорем импсум долор сит амет. Лорем импсум долор сит амет. Лорем импсум долор сит амет. Лорем импсум долор сит амет. Лорем импсум долор сит амет.
                </p>
                <p>
                    Лорем импсум долор сит амет. Лорем импсум долор сит амет. Лорем импсум долор сит амет. Лорем импсум долор сит амет. Лорем импсум долор сит амет. Лорем импсум долор сит амет. Лорем импсум долор сит амет. Лорем импсум долор сит амет. Лорем импсум долор сит амет. Лорем импсум долор сит амет. Лорем импсум долор сит амет. Лорем импсум долор сит амет. Лорем импсум долор сит амет. Лорем импсум долор сит амет. Лорем импсум долор сит амет. Лорем импсум долор сит амет. Лорем импсум долор сит амет. Лорем импсум долор сит амет. Лорем импсум долор сит амет. Лорем импсум долор сит амет. Лорем импсум долор сит амет. Лорем импсум долор сит амет. Лорем импсум долор сит амет. Лорем импсум долор сит амет.
                </p>
            </article>
        </section>
    </div>