<div class="col-xl-10 offset-xl-1 col-sm-12" id="story-body">
        <section class="col-12">
            <h3>Връзка с Лорем Ипсум</h3>
            <article>
                <form id="contact">
                    <p>Име:</p><br>
                    <input placeholder="Иван Иванов"></input>
                    <p>Имeйл:</p><br>
                    <input placeholder="ivan@abv.bg"></input>
                    <p>Сайт:</p><br>
                    <input placeholder="https://www.ivan.bg"></input>
                    <p>Съобщение:</p><br>
                    <textarea></textarea>
                    <br>
                    <button><p>Изпрати</p></button>

                </form>
            </article>
        </section>
    </div>