<div class="row">
    <footer class="col-lg-12">
        <h5 class="col-sm-6" id="copyright">
            Copyright of Tsvetozar Bonev 2017 &copy;
        </h5>
        <ul class="col-sm-6">
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Goodreads</a></li>
        </ul>
    </footer>
</div>